/* Add a black background color to the top navigation */
.ImageIdentifierNavigation {
    margin-left: -20px;
    margin-top: -10px;
    margin-right: -10px;
    background-color: #dbcece;
    overflow: hidden;
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.ImageIdentifierNavigation a {
    color: #000000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.ImageIdentifierNavigation a:hover {
    background-color: #bcafaf;
    color: #000000;
}

/* Add a color to the active/current link */
.ImageIdentifierNavigation a.active {
    background-color: #bcafaf;
    color: #000000;
}


/* Adding style to the button */
.button {
    background-color: #dbcece;
    border: none;
    color: #000000;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.ImageIdentifierMain {
    background-color: #dbdbdb;
    margin: 2%;
    border: 0px;
}

.ImageIdentifierResult {
    background-color: #dbdbdb;
    margin: 2%;
    border: 0px;
}

/* Adding style to the body */
body {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: #ffffff;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
