/* Add a black background color to the top navigation */
.navigation {
    margin-left: -20px;
    margin-top: -10px;
    margin-right: -10px;
    background-color: #dbcece;
    overflow: hidden;
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.navigation a {
    color: #000000;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #bcafaf;
    color: #000000;
}

/* Add a color to the active/current link */
.navigation a.active {
    background-color: #bcafaf;
    color: #000000;
}

/* Adding style to the body */
body {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: #ffffff;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}