{% extends "Navigation.html" %}
{% block content %}

<div class="Main">
    <h1>DogOrCat?</h1>
    <form>
        <input id="urlInput" name="urlInput" type="text" maxlength="512" placeholder="Put your image URL here!">
        <button id="myButton" class="button " type="button" onclick="submitURL()"><span>Submit!</span></button>
    </form>

    <p id="IdentifierTags">It is a: </p>
    <img id="IdentifierImage" src="{{ url_for('static', filename = 'Images/PlaceHolder.png') }}" height="300">
</div>

<script>
    function submitURL() {
        var input = document.getElementById("urlInput").value;
        console.log(input);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            document.getElementById("IdentifierTags").innerHTML = "Executing code...<br>";
            if (xhttp.readyState == 4) {
                var result = xhttp.responseText;
                console.log("result: " + result);
                document.getElementById("IdentifierTags").innerHTML = "It is a: " + "<br>" +
                    result +
                    "<br>";
                document.getElementById("IdentifierImage").src = input;
                console.log(input);
                document.getElementById("IdentifierImage").height = 150;
            }
        };
        xhttp.open("POST", "{{ url_for('getimageurl') }}", true);
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhttp.send("imageurl=" + input);
    }
</script>
<div class="footer">
    <p>Made by Daniel Bi</p>
    <p>Powered by Keras and Python</p>
</div>
</body>

{% endblock %}