{% extends "Navigation.html" %}
{% block content %}

<div class="container-fluid">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <form>
                    <input id="urlInput" name=" urlInput" type="text" maxlength="512" placeholder="Put your image URL here!"
                        , style="width: 100%">
                    <p> </p>
                    <button style="float: right" id="myButton" class="btn btn-success" type="button" onclick="submitURL()"><span>Submit!</span></button>
                </form>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <p id="IdentifierTags">The picture is a: </p>
            <img id="IdentifierImage" class="img-responsive" src="{{ url_for('static', filename = 'Images/Placeholder.png') }}"
                , style=width:100%;>
        </div>
    </div>
</div>

<script>
    function submitURL() {
        var input = document.getElementById("urlInput").value;
        console.log(input);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            document.getElementById("IdentifierTags").innerHTML = "Executing code...<br>";
            if (xhttp.readyState == 4) {
                var result = xhttp.responseText;
                console.log("result: " + result);
                document.getElementById("IdentifierTags").innerHTML = "It is a: " +
                    result +
                    "<br>";
                document.getElementById("IdentifierImage").src = input;
                console.log(input);
                document.getElementById("IdentifierImage").height = 150;
            }
        };
        xhttp.open("POST", "{{ url_for('getimageurl') }}", true);
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhttp.send("imageurl=" + input);
    }
</script>

<div class="footer">
    <p>Made by Daniel Bi</p>
    <p>Powered by Keras and Python</p>
</div>
</body>

{% endblock %}