{% extends "Navigation.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h1>This is the Home Page!</h1>
    </div>
  </div>

<div id="demo" style="height: 400px; width: 400px;" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename = 'Images/Placeholder.png') }}">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename = 'Images/cat.jpg') }}">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename = 'Images/ProfilePicture.jpg') }}">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>

{% endblock %}