{% extends "Navigation.html" %}
{% block content %}

<div class="container-fluid">
  {% if title %}
  <h1>{{ title }}</h1>
  {% endif %}
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
        <form>
          <input id="urlInput" name=" urlInput" type="text" maxlength="512" placeholder="Put your image URL here!" ,
            style="width: 100%">
          <p> </p>
          <button style="float: right" id="myButton" class="btn btn-success" type="button" onclick="submitURL()"><span>Submit!</span></button>
        </form>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <p id="IdentifierTags">It is a: </p>
      <img id="IdentifierImage" class="img-responsive" src="{{ url_for('static', filename = 'Images/Placeholder.png') }}"
        , style=width:100%;>
    </div>
  </div>
</div>

<script>
  function submitURL() {
    var input = document.getElementById("urlInput").value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (xhttp.readyState == 4) {
        var resultParsed = JSON.parse(xhttp.responseText);
        console.log(resultParsed)
        document.getElementById("IdentifierTags").innerHTML = "The tags are: " + "<br>" + resultParsed.tags +
          "<br><br>" + "With confidence of " + resultParsed.captions[0].confidence + "<br>";
        document.getElementById("IdentifierImage").src = input;
        document.getElementById("IdentifierImage").height = 150;
      }
    };

    xhttp.open("POST",
      "https://prod-18.australiaeast.logic.azure.com:443/workflows/18c4993cd07a4951bd12f96317183f91/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Q4LMKgylWjTRUeF8oQbh94ibtctOyfy-af5r5Q_Faz0",
      true);
    xhttp.setRequestHeader("Ocp-Apim-Subscription-Key", "c07929b7faf4475aa2889715230e2ee3")
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send('{ "url": "' + input + '"}');
  }
</script>

<div class="footer">
  <p>Made by Daniel Bi</p>
  <p>Powered by Microsoft Azure Computer Vision</p>
</div>

{% endblock %}