{% extends "Navigation.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h1>My name is Daniel</h1>
      <img src="{{ url_for('static', filename = 'Images/ProfilePicture.jpg')}}" height="300">
      <p>I graduated from UNSW with a Bachelor of Computer Engineering
        and Master of Biomedical Engineering degree</p>
    </div>
    <div class="col-sm-8" style="line-height: normal">
      <p></p>

      <h3>My experiences</h3>

      <p><strong>Graduate, NTT, Sydney</strong></p>
      <p>Aug 2018 - Present</p>
      <ul>- Creating high level architectural diagrams for digital system integration</ul>
      <ul>- Developing UX design for mobile app</ul>
      <ul>- Developing software for IoT projects</ul>
      <ul>- Assisting in the management of JIRA Backlog</ul>

      <p><strong>Biomedical Engineer Technician, Kampot Referral Hospital, Cambodia</strong></p>
      <p>Dec 2017 - Feb 2018</p>
      <ul>- Repair and maintain vital medical equipments</ul>
      <ul>- Communicate with local staff about hospital needs as well as current situations of equipments</ul>
      <ul>- Produce needs-reports based on the hospital’s needs and condition</ul>

      <h3>Personal Projects</h3>

      <p><strong>Flask Webserver</strong></p>
      <ul>- Designed and implemented a python flask webserver that contains my personal projects</ul>
      <ul>- This is it!</ul>

      <p><strong>Convolution Neural Network</strong></p>
      <ul>- Designed and implemented a supervised deep learning model that will predict if an image is a cat or a dog</ul>
      <ul>- Created with Python, Keras, and Numpy</ul>
      <ul>- Served on a flask webserver, under the tab DogOrCat</ul>

      <p><strong>Graphical Visualisation of K-means Clustering</strong></p>
      <ul>- Implemented a graphical visualisation of K-means Clustering algorithm</ul>
      <ul>- Created with Python and Bokeh</ul>
      <ul>- Served on a flask webserver, under the tab Kmeans</ul>

      <h3>Skills</h3>
      <ul>- Python</ul>
      <ul>- HTML & CSS</ul>
      <ul>- Mulesoft</ul>
      <ul>- Bokeh</ul>
      <ul>- Matlab</ul>

      <h3>Certificates</h3>
      <ul>- MuleSoft Certified Developer</ul>
      <ul>- Scrum Master (PSM I)</ul>

    </div>
  </div>
</div>

{% endblock %}