{% extends "Navigation.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="padding: 1%;">
      <h1>My name is Daniel</h1>
      <img src="{{ url_for('static', filename = 'Images/ProfilePicture.jpg')}}">
      <hr></hr>
      <h3>Education</h3>
      <p>- Bachelor of Engineering, Majoring in Computer Engineering</p>
      <p>- Master of Biomedical Engineering</p>

      <h3>Certificates</h3>
      <p>- MuleSoft Certified Developer</p>
      <p>- Scrum Master (PSM I)</p>

      <h3>Skills</h3>
      <p>- Python</p>
      <p>- Java</p>
      <p>- HTML & CSS</p>
      <p>- JavaScript</p>
      <p>- Microsoft Sharepoint Online</p>
      <p>- Microsoft Power Automate (Flow)</p>
      <p>- Sketch</p>
      <p>- Figma</p>
      <p>- MarkLogic</p>
      <p>- Nifi</p>
    </div>

    <div class="col-sm-8" style="line-height: normal">
      <p></p>

      <h3>My experiences</h3>

      <p><strong>Associate Consultant, NTT, Sydney</strong></p>
      <p>Aug 2020 - Current</p>
      <ul>- Creating high level architectural diagrams for digital system integration</ul>
      <ul>- Developing UX design for mobile app</ul>
      <ul>- Developing software for IoT projects</ul>
      <ul>- Assisting in the management of JIRA Backlog</ul>

      <p><strong>Graduate, NTT, Sydney</strong></p>
      <p>Aug 2018 - Aug 2020</p>
      <ul>- Creating high level architectural diagrams for digital system integration</ul>
      <ul>- Developing UX design for mobile app</ul>
      <ul>- Developing software for IoT projects</ul>
      <ul>- Assisting in the management of JIRA Backlog</ul>

      <p><strong>Projects</strong></p>

      <ul>Oakton IoT project - It consists of implementing a web server and web client using Javascript, HTML and CSS,
      implementing instant messaging via PubNub API, Google Maps API Integration as well as hosting it on Heroku.
      </ul>
      <ul>NSW Health Patient Journey Mobile Application - Daniels responsibility was creating personas, scenarios and use cases,
      developing wireframes for the application, as well as PoC UX design for the mobile app and conducting user feedback
      surveys.
      </ul>
      <ul>Revenue NSW project - Daniel assisted in the setup of the MarkLogic Database, and was responsible for
      managing the JIRA backlog.
      </ul>
      <ul>Queensland Government Qfleet project - Daniel Assisted in the data migration and upload from Azure blob storage, 
      creating data flow and data envelopment on Nifi, and data ingestion and mastering on Marklogic
      </ul>
      <ul>NTT Internal HR Email Automation - Daniel created Microsoft flow to automatically send HTML emails to address lists 
      on Excel Online
      </ul>
      <ul>Westpac Sharepoint Migration - Daniel created Microsoft flow to automatically upload content of a CSV file to a Sharepoint list
      while adhering to complex business rules and logic
      </ul>


      <p><strong>Biomedical Engineer Technician, Kampot Referral Hospital, Cambodia</strong></p>
      <p>Dec 2017 - Feb 2018</p>
      <ul>- Repair and maintain vital medical equipments</ul>
      <ul>- Communicate with local staff about hospital needs as well as current situations of equipments</ul>
      <ul>- Produce needs-reports based on the hospital’s needs and condition</ul>

      <h3>Personal Projects</h3>

      <p><strong>Flask Webserver</strong></p>
      <ul>- Designed and implemented a python flask webserver that contains my personal projects</ul>
      <ul>- This is it!</ul>

      <p><strong>Convolution Neural Network</strong></p>
      <ul>- Designed and implemented a supervised deep learning model that will predict if an image is a cat or a dog</ul>
      <ul>- Created with Python, Keras, and Numpy</ul>
      <ul>- Served on a Flask webserver, under the tab DogOrCat</ul>

      <p><strong>Graphical Visualisation of K-means Clustering</strong></p>
      <ul>- Implemented a graphical visualisation of K-means Clustering algorithm</ul>
      <ul>- Created with Python and Bokeh</ul>
      <ul>- Served on a Flask webserver, under the tab Kmeans</ul>

      <p><strong>Embedded WebGL Application</strong></p>
      <ul>- Created a simple WebGL application</ul>
      <ul>- Served on a Flask webserver, under the tab WebGL</ul>


    </div>
  </div>
</div>

{% endblock %}