{% extends "Navigation.html" %}
{% block content %}

<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css" rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>

<div class="container-fluid">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}

    <div class="col-sm-4">
        <div class="jumbotron">
            <div>
                <input id="clusters" name="k" type="text" maxlength="10" placeholder="Number of clusters" oninvalid="alert('Cant leave the field blank')"
                    pattern=".{1,}">
                <p> </p>
                <input id="points" name="n" type="text" maxlength="10" placeholder="Number of points">
                <p> </p>
                <input id="rounds" name="r" type="text" maxlength="10" placeholder="Number of iterations">
                <p> </p>
                <button id="myButton" class="btn btn-success" type="button" onclick="submitCluster()"><span>Submit!</span></button>
            </div>
        </div>

        <div class="bk-root"></div>
    </div>

    <script id="bokeh-script" type="text/javascript""></script>

    <script>
        var k = document.getElementById("clusters")
        var n = document.getElementById("points")
        var r = document.getElementById("rounds")
        k.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                submitCluster();
            }
        });
        n.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                submitCluster();
            }
        });
        r.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                submitCluster();
            }
        });

        function submitCluster() {
            var k = document.getElementById("clusters").value
            var n = document.getElementById("points").value
            var r = document.getElementById("rounds").value
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                document.getElementsByClassName("bk-root")[0].innerHTML = "Executing code...<br>"
                if (xhttp.readyState == 4) {
                    var bokehDiv = xhttp.responseText;
                    var value = bokehDiv.substring(26, 62)
                    document.getElementsByClassName("bk-root")[0].setAttribute("id", value)
                    document.getElementsByClassName("bk-root")[0].innerHTML = "Page needs to be reloaded to run the program again"
                    document.getElementById("bokeh-script").setAttribute("src",
                        "{{ url_for('static', filename = 'kmeans/bokehScript.js')}}")
                }
            }
            xhttp.open("POST", "{{ url_for('KmeansStart') }}", true)
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhttp.send("k=" + k + "&n=" + n + "&r=" + r)
        }
    </script>

</div>

{% endblock %}