<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
      
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename = 'mystyle.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>
    <div class="Navigation">
      {% if active == "Home" %}
      <a class="active" href="Home">Home</a>
      {% else %}
      <a href="Home">Home</a>
      {% endif %}

      {% if active == "Info" %}
      <a class="active" href="Info">My Info</a>
      {% else %}
      <a href="Info">My Info</a>
      {% endif %}

      {% if active == "Image" %}
      <a class="active" href="Image">Image Identifier</a>
      {% else %}
      <a href="Image">Image Identifier</a>
      {% endif %}

      {% if active == "DogOrCat" %}
      <a class="active" href="DogOrCat">DogOrCat</a>
      {% else %}
      <a href="DogOrCat">DogOrCat</a>
      {% endif %}

    </div>
  </body>

  {% block content %}{% endblock %}

</html>